*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(246, 246, 229);
}

h1{
    background-color: rgb(6, 6, 54);
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    border: 2px dashed rgb(6, 6, 54);
    transition: ease-out;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(6, 6, 54);
    color: antiquewhite;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border: 1px solid rgb(250, 206, 213);
    border-radius: 1rem;
}